<h1 class='page-header'>User 1</h1>
<!-- <a class = 'button' href=<%= new_user_url %>Go back to sign in</a> -->
<a class = 'button' href=<%= new_session_url %> >Go to Sign-in</a>

<p>
  Email: <%= current_user.email %>
</p>
